.empleados{
    padding: 1rem;
    list-style-type: none;
    

    .empleados-foto{
        display: flex;
        justify-content: center;

        img{
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
        }
    }

    .empleados-texto{
        text-align: center;
        padding-top: 1rem;
    }
}